force-app/main/default/flows/CloneQuoteAndItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RedirectToNewQuote</name>
        <label>RedirectToNewQuote</label>
        <locationX>753</locationX>
        <locationY>2950</locationY>
        <actionName>c:RedirectFlowRecordId</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IdClonedQuote</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignId</name>
        <label>AssignId</label>
        <locationX>838</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemLoop.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdClonedQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteLineItemAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CostListAssign</name>
        <label>CostListAssign</label>
        <locationX>838</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>CostList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cost_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cost_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdAssign</name>
        <label>IdAssign</label>
        <locationX>838</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Cost_Loop.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdClonedQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CostListAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdAssignRevenue</name>
        <label>IdAssignRevenue</label>
        <locationX>838</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>QuoteRevenueLoop.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdClonedQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteRevenueAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuoteLineItemAssignments</name>
        <label>QuoteLineItemAssignments</label>
        <locationX>838</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItemLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuoteRevenueAssign</name>
        <label>QuoteRevenueAssign</label>
        <locationX>838</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>QuoteRevenueList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteRevenueLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteRevenueLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Links</name>
        <label>Links</label>
        <locationX>882</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRecordTypeLinks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordType.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Links</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteRecord</targetReference>
            </connector>
            <label>Is Record Type Links</label>
        </rules>
    </decisions>
    <interviewLabel>CloneQuoteAndItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloneQuoteAndItem</label>
    <loops>
        <name>Cost_Loop</name>
        <label>Cost Loop</label>
        <locationX>750</locationX>
        <locationY>1046</locationY>
        <collectionReference>Get_Cost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Revenue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QuoteLineItemLoop</name>
        <label>QuoteLineItemLoop</label>
        <locationX>750</locationX>
        <locationY>2078</locationY>
        <collectionReference>Get_Quote_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloneLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QuoteRevenueLoop</name>
        <label>QuoteRevenueLoop</label>
        <locationX>750</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Revenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IdAssignRevenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>QuoteLineItemLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CloneCost</name>
        <label>CloneCost</label>
        <locationX>750</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>CloneQuoteRevenue</targetReference>
        </connector>
        <inputReference>CostList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CloneLineItem</name>
        <label>CloneLineItem</label>
        <locationX>750</locationX>
        <locationY>2534</locationY>
        <connector>
            <targetReference>CloneCost</targetReference>
        </connector>
        <inputReference>QuoteLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CloneQuoteRevenue</name>
        <label>CloneQuoteRevenue</label>
        <locationX>750</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>RedirectToNewQuote</targetReference>
        </connector>
        <inputReference>QuoteRevenueList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>creteCloneQuote</name>
        <label>creteCloneQuote</label>
        <locationX>750</locationX>
        <locationY>686</locationY>
        <assignRecordIdToReference>IdClonedQuote</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ApprovedDate__c</field>
            <value>
                <elementReference>getQuoteRecord.ApprovedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>getQuoteRecord.EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InserisciNomeNuova_Offerta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>getQuoteRecord.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>getQuoteRecord.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>getQuoteRecord.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cost</name>
        <label>Get Cost</label>
        <locationX>750</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cost_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>750</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revenue</name>
        <label>Get Revenue</label>
        <locationX>750</locationX>
        <locationY>1502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteRevenueLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Revenue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteRecord</name>
        <label>getQuoteRecord</label>
        <locationX>748</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InserisciNomeNuovaOfferta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>882</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Links</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>InserisciNomeNuovaOfferta</name>
        <label>Inserisci Nome Nuova Offerta</label>
        <locationX>750</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>creteCloneQuote</targetReference>
        </connector>
        <fields>
            <name>InserisciNomeNuova_Offerta</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getQuoteRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Inserisci Nome Nuova Offerta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CostList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cost__c</objectType>
    </variables>
    <variables>
        <name>IdClonedQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteRevenueList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Revenue__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
