force-app/main/default/flows/CreateOrderAndItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RedirectToNewOrder</name>
        <label>RedirectToNewOrder</label>
        <locationX>1567</locationX>
        <locationY>1424</locationY>
        <actionName>c:RedirectFlowRecordId</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>idOrder</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignCostList</name>
        <label>AssignCostList</label>
        <locationX>1631</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>costList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CostLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCostToCostDetail</name>
        <label>AssignCostToCostDetail</label>
        <locationX>1155</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>CostDetailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderCostDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CostLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderProductToList</name>
        <label>AssignOrderProductToList</label>
        <locationX>1305</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>orderProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuoteLineItemList</name>
        <label>AssignQuoteLineItemList</label>
        <locationX>1660</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CostAssign</name>
        <label>CostAssign</label>
        <locationX>1159</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>OrderCostDetail.Related_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CostLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderCostDetail.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCostToCostDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuoteLineItemAssignment</name>
        <label>QuoteLineItemAssignment</label>
        <locationX>1303</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.DDTotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.DDTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.DDOvernightAllowance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.DDOvernightAllowance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.DDTotalCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.DDTotalCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.DDTravelAllowance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.DDTravelAllowance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.OvernightAllowanceCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.OvernightAllowanceCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.RevenueType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.Revenue_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.TotalCostHR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.TotalCostHR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.TravelAllowanceCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.TravelAllowanceCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineItemLoop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOrderProductToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Links</name>
        <label>Links</label>
        <locationX>717</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRecordTypeLinks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordType.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Links</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteRecord</targetReference>
            </connector>
            <label>Is Record Type Links</label>
        </rules>
    </decisions>
    <interviewLabel>CreateOrderAndItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateOrderAndItem</label>
    <loops>
        <name>CostLoop</name>
        <label>CostLoop</label>
        <locationX>1675</locationX>
        <locationY>1031</locationY>
        <collectionReference>costList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CostAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCostDetail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QuoteLineItemLoop</name>
        <label>QuoteLineItemLoop</label>
        <locationX>1668</locationX>
        <locationY>315</locationY>
        <collectionReference>QuoteLineItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QuoteLineItemAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateProductItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCostDetail</name>
        <label>CreateCostDetail</label>
        <locationX>1703</locationX>
        <locationY>1251</locationY>
        <connector>
            <targetReference>RedirectToNewOrder</targetReference>
        </connector>
        <inputReference>CostDetailList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createOrder</name>
        <label>createOrder</label>
        <locationX>1187</locationX>
        <locationY>27</locationY>
        <assignRecordIdToReference>idOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getQuoteRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>getQuoteRecord.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>getQuoteRecord.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>CreateProductItem</name>
        <label>CreateProductItem</label>
        <locationX>1657</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>getCost</targetReference>
        </connector>
        <inputReference>orderProductList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>1363</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignQuoteLineItemList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCost</name>
        <label>getCost</label>
        <locationX>1628</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCostList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteRecord</name>
        <label>getQuoteRecord</label>
        <locationX>991</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>543</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Links</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>12</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CostDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cost_Order_Detail__c</objectType>
    </variables>
    <variables>
        <name>costList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cost__c</objectType>
    </variables>
    <variables>
        <name>idOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderCostDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cost_Order_Detail__c</objectType>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>orderProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
