force-app/main/default/flows/OnProjectStatusAfter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>314</locationX>
        <locationY>613</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Testoinvioemailprojectstatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Soggetto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ListNotificationUserID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sendemail</name>
        <label>Sendemail</label>
        <locationX>314</locationX>
        <locationY>1309</locationY>
        <actionName>Project_Status__c.ProjectStatusAlarm</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>addDesimoneEmailToList</name>
        <label>addDesimoneEmailToList</label>
        <locationX>314</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>ListEmailToSend</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>danilo.lofoco@nexusat.it</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendemail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEmailToCollection</name>
        <label>assignEmailToCollection</label>
        <locationX>50</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>ListEmailToSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailDeliveryProjectManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendemail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignIdToList</name>
        <label>assignIdToList</label>
        <locationX>314</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>ListNotificationUserID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotificationUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionDeliveryProjectUserEmail</name>
        <label>decisionDeliveryProjectUserEmail</label>
        <locationX>314</locationX>
        <locationY>973</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>findEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDeliveryProjectManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignEmailToCollection</targetReference>
            </connector>
            <label>findEmail</label>
        </rules>
        <rules>
            <name>notFindEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailDeliveryProjectManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addDesimoneEmailToList</targetReference>
            </connector>
            <label>notFindEmail</label>
        </rules>
    </decisions>
    <description>-Invio CustomNotification
-InvioMail</description>
    <interviewLabel>OnProjectStatusAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnProjectStatusAfter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContactDeliveryManager</name>
        <label>getContactDeliveryManager</label>
        <locationX>314</locationX>
        <locationY>853</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionDeliveryProjectUserEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliveryProjectManager</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>EmailDeliveryProjectManager</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>314</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNotificationUserID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProjectStatusInAlarm</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>CustomNotificationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNotificationUserID</name>
        <label>getNotificationUserID</label>
        <locationX>314</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignIdToList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NexusAT Delivery</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NotificationUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>314</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContactDeliveryManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>DeliveryProjectManager</assignToReference>
            <field>Delivery_Project_Manager__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Sentiment_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alarm</stringValue>
            </value>
        </filters>
        <object>Project_Status__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Soggetto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Testoinvioemailprojectstatus</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Il seguente progetto è stato posto in stato &quot;Alarm&quot;, per maggiori dettagli consultare il record.</text>
    </textTemplates>
    <variables>
        <name>CustomNotificationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryProjectManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailDeliveryProjectManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListEmailToSend</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListNotificationUserID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Valore_Stato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Alarm</stringValue>
        </value>
    </variables>
    <variables>
        <name>ValoreAlarm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Alarm</stringValue>
        </value>
    </variables>
</Flow>
