force-app/main/default/flows/OpportunityAfterInsertOrUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateProjectStatus</name>
        <label>CreateProjectStatus</label>
        <locationX>191</locationX>
        <locationY>599</locationY>
        <actionName>CreateProjectStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmailCloseWon</targetReference>
        </connector>
        <inputParameters>
            <name>listOppIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PianificazioneFattureController</name>
        <label>PianificazioneFattureController</label>
        <locationX>621</locationX>
        <locationY>684</locationY>
        <actionName>PianificazioneFattureController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>listOppIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PianificazioneFattureController2</name>
        <label>PianificazioneFattureController</label>
        <locationX>1293</locationX>
        <locationY>679</locationY>
        <actionName>PianificazioneFattureController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>listOppIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailCheckCDG</name>
        <label>SendEmail Check CDG</label>
        <locationX>864</locationX>
        <locationY>598</locationY>
        <actionName>SendEmailClass</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>listOppIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailCloseWon</name>
        <label>SendEmail Close Won</label>
        <locationX>191</locationX>
        <locationY>719</locationY>
        <actionName>SendEmailClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Amount</targetReference>
        </connector>
        <inputParameters>
            <name>listOppIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>SendMail to sales@nexusat.it</description>
        <name>SendMailSales</name>
        <label>SendMail Sales</label>
        <locationX>59</locationX>
        <locationY>959</locationY>
        <actionName>Opportunity.SendEmailOptyWon</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Amount</name>
        <label>Amount?</label>
        <locationX>191</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GREATERTHAN0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMailSales</targetReference>
            </connector>
            <label>GREATER THAN 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType?</label>
        <locationX>1015</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nexus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nexus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StageName</targetReference>
            </connector>
            <label>Nexus</label>
        </rules>
        <rules>
            <name>Links</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Links</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StageNameLinkss</targetReference>
            </connector>
            <label>Links</label>
        </rules>
    </decisions>
    <decisions>
        <name>StageName</name>
        <label>StageName?</label>
        <locationX>653</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProjectStatus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Close Won</label>
        </rules>
        <rules>
            <name>PianificaMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pianifica Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PianificazioneFattureController</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pianifica Milestone</label>
        </rules>
        <rules>
            <name>CheckCDG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check CDG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailCheckCDG</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check CDG</label>
        </rules>
    </decisions>
    <decisions>
        <name>StageNameLinkss</name>
        <label>StageNameLinkss</label>
        <locationX>1277</locationX>
        <locationY>466</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PianificazioneFattureController2</targetReference>
            </connector>
            <label>IsMilestonePlanning</label>
        </rules>
    </decisions>
    <description>- Create Project Status
- Send Email Close Won
- Pianificazione Fatture
- Send Email Check CDG</description>
    <interviewLabel>Opportunity After Insert Or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Insert Or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pianifica Milestone</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Check CDG</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Milestone Planning</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
