force-app/main/default/flows/ProjectStatusAfterUpdated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendCustomNotification</name>
        <label>SendCustomNotification</label>
        <locationX>314</locationX>
        <locationY>733</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>GetDeliveryProjectManagerEmail</targetReference>
        </connector>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubjectNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ListNotificationUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>314</locationX>
        <locationY>1309</locationY>
        <actionName>Project_Status__c.ProjectStatusAlarm</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddDeSimoneToList</name>
        <label>AddDeSimoneToList</label>
        <locationX>314</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>ListEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>roberto.desimone@nexusat.it</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailToList</name>
        <label>EmailToList</label>
        <locationX>50</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>ListEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeliveryProjectManagerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdToList</name>
        <label>IdToList</label>
        <locationX>314</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>ListNotificationUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotificationUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendCustomNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email</name>
        <label>Email?</label>
        <locationX>314</locationX>
        <locationY>973</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryProjectManagerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailToList</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryProjectManagerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddDeSimoneToList</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType?</label>
        <locationX>578</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nexus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Nexus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCustomNotification</targetReference>
            </connector>
            <label>Nexus</label>
        </rules>
    </decisions>
    <description>- Send Custom Notification
- Send Email to Opportunity Delivery Manager OR roberto.desimone@nexusat.it</description>
    <interviewLabel>ProjectStatus Afte Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProjectStatus After Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>GetCustomNotification</label>
        <locationX>314</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNotificationUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProjectStatusInAlarm</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>CustomNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryProjectManagerEmail</name>
        <label>GetDeliveryProjectManagerEmail</label>
        <locationX>314</locationX>
        <locationY>853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Delivery_Project_Manager__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>DeliveryProjectManagerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationUserId</name>
        <label>GetNotificationUserId</label>
        <locationX>314</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IdToList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NexusAT Delivery</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>NotificationUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Sentiment_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alarm</stringValue>
            </value>
        </filters>
        <object>Project_Status__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>BodyNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Il seguente progetto è stato posto in stato &quot;Alarm&quot;, per maggiori dettagli consultare il record.</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>CustomNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryProjectManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListNotificationUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
